/*////////////////////////BANNER SECTION//////////////////////////////////*/
/* DESKTOP BANNER */
.cover-banner {  
margin: -19px 0 0 0 !important;  
}
/* MOBILE BANNER */
@media only screen and (max-width:481px) {
.cover-banner {
margin: -28px 0 0 0 !important;
  }
}
/*Banner position attached to header module and main container - Override main rules*/
.modules {
   padding: 0 !important;
}
.container {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.container {
    width: 100% !important;
}
/*////////////////////////LOGO & HEADING SECTION//////////////////////////////////*/
.taste-title-intro {
position: absolute;
top: 130px;
left: 5px;
font-size: 18px;
}
.taste-title-main {
position: absolute;
top: 180px;
left: 5px;
}
.taste-title-heading {
position: absolute;
top: 380px;
left: 5px;
font-size: 20px;
}
/* MOBILE HEADING */
@media only screen and (max-width:481px) {
.taste-title-intro {
    position: absolute;
    top: 30px;
    left: 3px;
    font-size: 12px;
}
.taste-title-main {
    position: absolute;
    top: 35px;
    left: 5px;
    width: 120px;
    height: 120px;
}
.taste-title-heading {
    position: absolute;
    top: 121px;
    left: 3px;
    font-size: 9px;
    max-width: 147px;
}
}
/*////////////////////////MAIN CONTAINER//////////////////////////////////*/
.tft-body {
box-sizing: border-box;
max-width: 770px;
margin: auto;
padding: 10px;
}
/* MOBILE HEADING */
@media only screen and (max-width:481px) {
.tft-body {
box-sizing: border-box;
max-width: 270px;
margin: -33px 0 0 50px;
padding: 5px;
 }
}
