/* MEDIA QUERIES */
/* Extra small devices */
@media only screen and (max-width: 400px) {
.banner-container {	
margin: 0 0 0 -3px;
position: relative;
}
.taste-title-intro {
position: absolute;
top: 10px;
left: 3px;
font-weight: 500;
font-size: 12px;
font-style: italic;
}
.taste-title-main {
position: absolute;
top: 25px;
left: 1px;
font-size: 20px;
text-transform: uppercase;
letter-spacing: -3px;
font-weight: 700;
max-width: 150px;
line-height: 0.5cm;
}
.taste-title-heading {
position: absolute;
top: 70px;
left: 3px;
font-weight: 400;
font-size: 12px;
max-width: 140px;
height:10px;
letter-spacing: -1px; }
}
/* Small devices */
@media only screen and (max-width: 599px) {
.banner-container {	
margin: 0 0 0 -3px;
position: relative;
}
.taste-title-intro {
position: absolute;
top: 20px;
left: 3px;
font-weight: 600;
font-style: italic;
}
.taste-title-main {
position: absolute;
top: 40px;
left: 1px;
font-size: 35px;
text-transform: uppercase;
letter-spacing: -3px;
font-weight: 700;
max-width: 150px;
line-height: 0.8cm;
}
.taste-title-heading {
position: absolute;
top: 130px;
left: 3px;
font-weight: 500;
max-width: 200px;
height:10px;
letter-spacing: -1px; }
}
/* Medium devices */
@media only screen and (min-width: 600px) {
.banner-container {	
margin: 0 0 0 -3px;
position: relative;
}
.taste-title-intro {
position: absolute;
top: 30px;
left: 3px;
font-weight: 600;
font-style: italic;
}
.taste-title-main {
position: absolute;
top: 45px;
left: 1px;
font-size: 30px;
text-transform: uppercase;
letter-spacing: -3px;
font-weight: 800;
max-width: 250px;
height:10px;
line-height: 1.3cm;
}
.taste-title-heading {
position: absolute;
top: 140px;
left: 3px;
font-weight: 500;
max-width: 200px;
height:10px;
letter-spacing: -1px;
   }
}
/* Large devices */
@media only screen and (min-width: 992px) {
.banner-container {	
margin: 0 0 0 -3px;
position: relative;
}
.taste-title-intro {
position: absolute;
top: 100px;
left: 3px;
font-weight: 600;
font-style: italic;
}
.taste-title-main {
position: absolute;
top: 120px;
left: 1px;
font-size: 40px;
text-transform: uppercase;
letter-spacing: -3px;
font-weight: 800;
max-width: 350px;
height:10px;
line-height: 1.3cm;
}
.taste-title-heading {
position: absolute;
top: 250px;
left: 3px;
font-weight: 500;
max-width: 350px;
height:10px;
letter-spacing: -1px;
   }
} 
/* Extra large devices */
@media only screen and (min-width: 1200px) {
.banner-container {	
margin: 0 0 0 -3px;
position: relative;
}
.taste-title-intro {
position: absolute;
top: 90px;
left: 3px;
font-size: 18px;
font-weight: 600;
font-style: italic;
}
.taste-title-main {
position: absolute;
top: 120px;
left: 1px;
font-size: 60px;
text-transform: uppercase;
letter-spacing: -3px;
font-weight: 800;
max-width: 300px;
height:10px;
line-height: 1.5cm;
}
.taste-title-heading {
position: absolute;
top: 300px;
left: 3px;
font-size: 20px;
font-weight: 600;
max-width: 350px;
height:10px;
letter-spacing: -1px;}
}
/* END OF MEDIA QUERIES */
.tst-location-link {
cursor: pointer;
color: #0073e6;
font-weight: 600;
padding-left:5px;
font-size: 18px;
}
.tst-recipe-link {
cursor: pointer;
color: #0073e6;
font-weight: 500;
padding-left:5px;
font-size: 15px;
}
.tst-location-container {
width: 100%;
height:auto;
padding:5px;
background: rgb(255,236,0);
background: -moz-linear-gradient(60deg, rgba(255,236,0,1) 0%, rgba(255,236,0,1) 76%, rgba(255,255,255,1) 100%);
background: -webkit-linear-gradient(60deg, rgba(255,236,0,1) 0%, rgba(255,236,0,1) 76%, rgba(255,255,255,1) 100%);
background: linear-gradient(60deg, rgba(255,236,0,1) 0%, rgba(255,236,0,1) 76%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffec00",endColorstr="#ffffff",GradientType=1);
}
.tst-location-container:hover {
background: rgb(255,236,0);
background: -moz-linear-gradient(60deg, rgba(255,236,0,1) 0%, rgba(255,236,0,1) 45%, rgba(255,255,255,1) 84%);
background: -webkit-linear-gradient(60deg, rgba(255,236,0,1) 0%, rgba(255,236,0,1) 45%, rgba(255,255,255,1) 84%);
background: linear-gradient(60deg, rgba(255,236,0,1) 0%, rgba(255,236,0,1) 45%, rgba(255,255,255,1) 84%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffec00",endColorstr="#ffffff",GradientType=1); /*color when mouseover*/
transition-duration: 3s;
transition: background 3s, opacity 0;
}
.card-body {
width:100%;
height:auto;
margin-top:15px;
background: rgb(255,246,127);
background: -moz-linear-gradient(60deg, rgba(255,246,127,1) 0%, rgba(255,255,255,1) 100%);
background: -webkit-linear-gradient(60deg, rgba(255,246,127,1) 0%, rgba(255,255,255,1) 100%);
background: linear-gradient(60deg, rgba(255,246,127,1) 0%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff67f",endColorstr="#ffffff",GradientType=1);
}
